.btn{
    border: none;
    cursor: pointer;
    margin: 4px 8px;
}

.btn-link{
    text-decoration: none;
    cursor: pointer;
    background: none;
}

.btn-link:hover{
    text-decoration: underline;
}

// btn-link active showAll
.btn-link.active{
    color: $btn-link-active;
    cursor: default;
}
.btn-link.active:hover{
    text-decoration: none;
}